<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        <script type="text/javascript">
            window.app = {};
        </script>
        
        @Scripts.Render("~/bundles/jquery")

        <script type="text/javascript" src="@Url.Content("~/Scripts/handlebars-1.0.rc.1.min.js")"></script>

        <script type="text/javascript" src="@Url.Content("~/Scripts/UiHelper.js")"></script>

        <script type="text/javascript" src="@Url.Content("~/Scripts/Services/EventService.js")"></script>

        <script type="text/javascript" src="@Url.Content("~/Scripts/Controls/EventController.js")"></script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">
                        @Html.ActionLink("your logo here", "Index", "Home", null, new { @class = "logo" })
                    </p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>
    </body>
</html>
